*{
	margin:0;
	padding:0;
}

h2 em {
	position: relative;
	font-style: normal;
	text-align: left;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.__container{
	width:320px;
	padding:0 10px;
	margin:10px auto;
	background: #ddd;
}

.__container p {
	display: inline-block;
	text-align: center;
}

h2{
	text-align: center;
	padding:10px 0;
}
