!!! 5
html
  head
    meta(charset='utf-8')
    title &#24917;&#35838;&#32593;-&#20813;&#36153;&#30340;IT&#25216;&#33021;&#23398;&#20064;&#24179;&#21488;
    meta(name='renderer', content='webkit|ie-comp|ie-stand')
    meta(property='qc:admins', content='77103107776157736375')
    meta(property='wb:webmaster', content='c4f857219bfae3cb')
    meta(http-equiv='Access-Control-Allow-Origin', content='*')
    meta(name='Keywords', content='慕课网，慕课官网，MOOC，移动开发，IT技能培训，免费编程视频，php开发教程，web前端开发，在线编程学习，html5视频教程，css教程，ios开发培训，安卓开发教程')
    meta(name='Description', content='慕课网（IMOOC）是学习编程最简单的免费平台。慕课网提供了丰富的移动端开发、php开发、web前端、html5教程以及css3视频教程等课程资源。它富有交互性及趣味性，并且你可以和朋友一起编程。')
    meta(name='baidu-site-verification', content='5150647909fe1d5bfb8d429afd444f80')
    script(type='text/javascript')
      var OP_CONFIG={"module":"index","page":"index"};
      var seajsTimestamp="201411071845";
    link(rel='stylesheet', href='http://static.mukewang.com/static/css/??base.css,common.css,index.css?v=1415354201', type='text/css')
  body#index
    #js-header.header.idx-minwidth
      .header-wrap.clearfix
        .logo-wrap
          a.logo.hide-text(href='/') imooc
        .header-right
          ul
            li.header-right-item
              a(href='/mobile/app')
                i.header-app-icon
                | &#25163;&#26426;&#24917;&#35838;
            li.header-right-item
              a#js-header-login(href='javascript:void(0);')
                | &#30331;&#24405;
            li.header-right-item
              a#js-header-register(href='javascript:void(0);')
                | &#27880;&#20876;
        ul.header-mid
          li
            a(href='/course/list') &#35838;&#31243;
          li
            a(href='/wenda') &#38382;&#31572;
          li
            a(href='/seek/index') &#27714;&#35838;
    #band.band.idx-minwidth
      #js-band-bg.band-bg
      .band-wrap.idx-width
        #js-band-text.band-inner
          h1.band-title.hide-text &#32534;&#32455;&#26410;&#26469;&#65292;&#25104;&#23601;&#26790;&#24819; &#24917;&#35838;&#32593;&#65292;&#21482;&#23398;&#26377;&#29992;&#30340;
          .band-video
            span#js-play-video &#20102;&#35299;&#26356;&#22810;
          .band-btn
            a.hide-text(href='/course/list') &#31435;&#21363;&#21152;&#20837;
    #js-index-video.video-container
      #js-video-wrap.video-wrap
        #js-video
      .video-mask
      #js-video-close.video-close
    #characters.characters.idx-minwidth
      .idx-width
        .characters-wrap
          span.char-icon1.hide-text &#19987;&#27880;IT&#23398;&#20064;
          span.char-icon2.hide-text &#32858;&#28966;&#23454;&#25112;&#24320;&#21457;
          span.char-icon3.hide-text &#35838;&#31243;&#23436;&#20840;&#20813;&#36153;
    #intro1.intro.intro1.bg-grey.idx-minwidth
      .intro1-wrap.idx-width
        .intro1-star
        .intro1-video-wrap
          .intro1-video
        .intro1-text.hide-text &#31934;&#24515;&#21046;&#20316;&#30340;&#35270;&#39057;&#35838;&#31243;&#12290;&#32769;&#24072;&#37117;&#25216;&#26415;&#22823;&#29275;&#23454;&#25112;&#27966;&#12290;&#35838;&#31243;&#20869;&#23481;&#25509;&#22320;&#27668;&#65292;&#23454;&#38469;&#24037;&#20316;&#29992;&#24471;&#30528;&#12290;
    #intro2.intro.intro2.bg-white.idx-minwidth
      .intro2-wrap.idx-width
        .intro2-text.hide-text &#23454;&#26102;&#20132;&#20114;&#30340;&#22312;&#32447;&#32534;&#31243;&#65292;&#26080;&#38656;&#37197;&#32622;&#20219;&#20309;&#32534;&#31243;&#29615;&#22659;&#65292;&#30452;&#25509;&#23601;&#33021;&#22312;&#32447;&#23398;&#20064;&#32534;&#31243;&#12290;&#30465;&#26102;&#30465;&#21147;&#30465;&#24515;&#12290;
        .intro2-computer1
        .intro2-computer2
    #intro3.intro.intro3.bg-grey.idx-minwidth
      .intro3-wrap.idx-width
        .intro3-calendar
        .intro3-smoke
        .intro3-rockets
        .intro3-text.hide-text &#24490;&#24207;&#28176;&#36817;&#30340;&#23398;&#20064;&#35745;&#21010;&#65292;&#19987;&#27835;&#21508;&#31181;&#23398;&#20064;&#32534;&#31243;&#36855;&#33579;&#30151;&#12290;&#26377;&#30446;&#26631;&#26377;&#36335;&#24452;&#65292;&#19968;&#20999;&#23613;&#22312;&#25484;&#25569;&#20013;&#12290;
    #intro4.intro.intro4.bg-white.idx-minwidth
      .intro4-wrap.idx-width
        .intro4-text.hide-text &#20114;&#24110;&#20114;&#21161;&#30340;&#38382;&#31572;&#31038;&#21306;&#65292;&#26377;&#38382;&#26377;&#31572;&#26377;&#20998;&#20139;&#12290;&#32769;&#24072;&#23398;&#21592;&#21516;&#20132;&#27969;&#65292;&#39640;&#25163;&#23567;&#30333;&#20849;&#36827;&#27493;&#12290;
        .intro4-hand
        .intro4-icon
    #mooc-dynamic.dynamic.bg-grey.idx-minwidth
      #dynamic-wrap.dynamic-wrap.idx-width
        #dynamic-left.dynamic-left
        #dynamic-right.dynamic-right
        ul.dynamic-group.clearfix
          li
            a(href='http://www.imooc.com/activity/zhaopin', target='_blank')
              img(src='http://img.mukewang.com/5437a6e10001eca004000200.jpg', alt='慕课网 全网搜索IT精英')
          li
            a(href='http://www.lagou.com/?utm_source=BD__imooc_banner&utm_medium=front&utm_campaign=toufang', target='_blank')
              img(src='http://img.mukewang.com/540ed210000151cd04000200.jpg', alt='拉勾网')
          li
            a(href='http://www.imooc.com/course/program')
              img(src='http://img.mukewang.com/540ed2300001797004000200.jpg', alt='学习计划 全新上线')
    .icourse
      .incourse-wrap.idx-width
        h1.icourse-title.hide-text &#35838;&#31243;
        ul.icourse-course.clearfix
          li
            a(href='/view/213')
              .icourse-img
                img(src='http://img.mukewang.com/5449b90b00019ea906000338-280-160.jpg', alt='')
              .icourse-intro.clearfix
                p &#26412;&#35838;&#31243;&#20171;&#32461;Java Web&#24320;&#21457;&#20013;&#30340;&#36807;&#28388;&#22120;&#30340;&#24212;&#29992;&#12290;
                span.l
                  | &#26356;&#26032;&#33267;7-1
                span.r
                  | &#35838;&#31243;&#26102;&#38271;&#65306; 1&#23567;&#26102;40&#20998;
              .icourse-tips.clearfix
                h2 Java Web&#24320;&#21457;&#25216;&#26415;&#24212;&#29992;&mdash;&mdash;&#36807;&#28388;&#22120;
                span.l 2&#22825;&#21069;&#26356;&#26032;
                span.r 3446&#20154;&#23398;&#20064;
          li
            a(href='/view/219')
              .icourse-img
                img(src='http://img.mukewang.com/545208a600016fc406000338-280-160.jpg', alt='')
              .icourse-intro.clearfix
                p &#24102;&#20320;&#20351;&#29992;&#20004;&#31181;&#26041;&#24335;&#23454;&#29616;&#25991;&#20214;&#19978;&#20256;&#19982;&#19979;&#36733;
                span.l
                  | &#26356;&#26032;&#33267;4-1
                span.r
                  | &#35838;&#31243;&#26102;&#38271;&#65306; 2&#23567;&#26102;35&#20998;
              .icourse-tips.clearfix
                h2 PHP&#23454;&#29616;&#25991;&#20214;&#19978;&#20256;&#19982;&#19979;&#36733;
                span.l 4&#22825;&#21069;&#26356;&#26032;
                span.r 2456&#20154;&#23398;&#20064;
          li
            a(href='/view/216')
              .icourse-img
                img(src='http://img.mukewang.com/544f0d9500017d6306000338-280-160.jpg', alt='')
              .icourse-intro.clearfix
                p Crontab&mdash;&#24102;&#20320;&#20174;&#23450;&#26102;&#37325;&#22797;&#24037;&#20316;&#20013;&#35299;&#33073;&#20986;&#26469;
                span.l
                  | &#26356;&#26032;&#33267;4-4
                span.r
                  | &#35838;&#31243;&#26102;&#38271;&#65306; 1&#23567;&#26102; 9&#20998;
              .icourse-tips.clearfix
                h2 Linux&#20013;&#30340;&#35745;&#21010;&#20219;&#21153;&mdash;Crontab
                span.l 2014-10-31&#26356;&#26032;
                span.r 2797&#20154;&#23398;&#20064;
          li
            a(href='/view/175')
              .icourse-img
                img(src='http://img.mukewang.com/53fbd87f0001e4c006000338-280-160.jpg', alt='')
              .icourse-intro.clearfix
                p &#23398;&#20064;Linux&#30340;&#20837;&#38376;&#32423;&#35838;&#31243;&#65292;&#24102;&#20320;&#36808;&#20986;&#25104;&#20026;Linux&#36798;&#20154;&#30340;&#31532;&#19968;&#27493;&#12290;
                span.l
                  | &#26356;&#26032;&#33267;9-7
                span.r
                  | &#35838;&#31243;&#26102;&#38271;&#65306; 6&#23567;&#26102; 0&#20998;
              .icourse-tips.clearfix
                h2  Linux&#36798;&#20154;&#20859;&#25104;&#35745;&#21010; I
                span.l 2&#22825;&#21069;&#26356;&#26032;
                span.r 15555&#20154;&#23398;&#20064;
          li
            a(href='/view/171')
              .icourse-img
                img(src='http://img.mukewang.com/53ec5a590001d85606000338-280-160.jpg', alt='')
              .icourse-intro.clearfix
                p &#36890;&#36807; Java &#31243;&#24207;&#35748;&#35782;&#24182;&#19988;&#21019;&#36896;&#19968;&#20010;&#26032;&#30340; XML &#25991;&#20214;
                span.l
                  | &#26356;&#26032;&#33267;6-3
                span.r
                  | &#35838;&#31243;&#26102;&#38271;&#65306; 4&#23567;&#26102; 0&#20998;
              .icourse-tips.clearfix
                h2 Java &#30524;&#20013;&#30340; XML
                span.l 2&#22825;&#21069;&#26356;&#26032;
                span.r 3512&#20154;&#23398;&#20064;
          li
            a(href='/view/127')
              .icourse-img
                img(src='http://img.mukewang.com/53966c2c00018bed06000338-280-160.jpg', alt='')
              .icourse-intro.clearfix
                p &#23398;&#20250;Swift&#35821;&#35328;&#26159;&#20026;&#20102;&#24110;&#21161;&#20320;&#26356;&#21152;&#39640;&#25928;&#12289;&#24555;&#36895;&#12289;&#21487;&#38752;&#22320;&#23436;&#25104;&#19979;&#19968;&#20195;iOS&#24320;&#21457;&#12290;
                span.l
                  | &#26356;&#26032;&#33267;7-8
                span.r
                  | &#35838;&#31243;&#26102;&#38271;&#65306; 6&#23567;&#26102; 0&#20998;
              .icourse-tips.clearfix
                h2 &#29609;&#20799;&#36716;Swift
                span.l 2&#22825;&#21069;&#26356;&#26032;
                span.r 12956&#20154;&#23398;&#20064;
          li
            a(href='/view/12')
              .icourse-img
                img(src='http://img.mukewang.com/545c66000001442606000338-280-160.jpg', alt='')
              .icourse-intro.clearfix
                p &#20351;&#29992;&#19981;&#21516;&#25216;&#26415;&#23454;&#29616;&#20016;&#23500;&#22810;&#24425;&#30340;&#19979;&#25289;&#33756;&#21333;&#12290;
                span.l
                  | &#26356;&#26032;&#33267;4-2
                span.r
                  | &#35838;&#31243;&#26102;&#38271;&#65306; 1&#23567;&#26102; 0&#20998;
              .icourse-tips.clearfix
                h2 &#24418;&#24418;&#33394;&#33394;&#30340;&#19979;&#25289;&#33756;&#21333;
                span.l 2&#22825;&#21069;&#26356;&#26032;
                span.r 3648&#20154;&#23398;&#20064;
          li
            a(href='/view/215')
              .icourse-img
                img(src='http://img.mukewang.com/544a0c600001dace06000338-280-160.jpg', alt='')
              .icourse-intro.clearfix
                p &#36214;&#28526;&#27969;&#12289;&#36861;&#26102;&#23578;&#23601;&#22312;Android5&period;0&#26032;&#29305;&#24615;Material Design
                span.l
                  | &#26356;&#26032;&#33267;3-4
                span.r
                  | &#35838;&#31243;&#26102;&#38271;&#65306; 2&#23567;&#26102; 0&#20998;
              .icourse-tips.clearfix
                h2 Android5&period;0&#26032;&#29305;&#24615;-Material Design
                span.l 2&#22825;&#21069;&#26356;&#26032;
                span.r 2924&#20154;&#23398;&#20064;
        .icourse-footer
          a(href='/course/list') &#20840;&#37096;&#35838;&#31243;
    #js-family.family.idx-minwidth
      .idx-width
        ul.clearfix
          li.js-family-item.family-item.family-teacher.l
            a.family-avator(href='/space/teacher/id/168177')
              .family-mask
              img(src='http://img.mukewang.com/538e88d900017ff501400140-200-200.jpg', width='200', height='200')
            .js-family-info.family-info.family-info-t
              h3.family-teacher-nick &#26446;&#23425;
              p.family-info-job &#31227;&#21160;&#24320;&#21457;&#24037;&#31243;&#24072;
              p.family-info-desc
                | &#38134;&#27827;&#20351;&#32773;&#65292;&#30693;&#21517;IT&#25216;&#26415;&#19987;&#23478;&#12289;&#20316;&#23478;&#12290;&#19968;&#20010;&#20449;&#20208;&#25216;&#26415;&#30340;&#29378;&#28909;&#20998;&#23376;&#65292;&#26366;&#32463;&#30340;&#23628;&#19997;&#65292;&#29616;&#22312;&#30340;&#39640;&#23500;&#24069;&#65281;&#26089;&#24180;&#28010;&#36857;&#20110;&#22810;&#23478;&#36719;&#20214;&#20844;&#21496;&#20174;&#20107;&#32534;&#31243;&#21644;&#26500;&#26550;&#24072;&#24037;&#20316;&#12290;&#33879;&#26377;&#12298;Android&#24320;&#21457;&#26435;&#23041;&#25351;&#21335;&#65288;&#31532;&#20108;&#29256;&#65289;&#12299;&#12289;&#12298;Android&#24320;&#21457;&#23436;&#20840;&#35762;&period;&period;&period;
          li.family-item.family-student.l
            ul.clearfix
              li.js-family-item.family-sub-item
                a.family-avator(href='/space/u/uid/110691')
                  .family-mask
                  img(src='http://img.mukewang.com/user/54473caf00010dd612800800-160-160.jpg', width='100', height='100', title='100', alt='100')
                .js-family-info.family-info.family-info-s
                  h3.family-student-nick leejersey
                  p.family-info-job Web&#21069;&#31471;&#24037;&#31243;&#24072;
                  .family-info-foot
                    span
                      | &#23398;&#20064;
                      em 638&#23567;&#26102;58&#20998;
                    span
                      | &#25253;&#21517;
                      em 107&#38376;&#35838;&#31243;
              li.js-family-item.family-sub-item
                a.family-avator(href='/space/u/uid/130804')
                  .family-mask
                  img(src='http://img.mukewang.com/user/533e4c910001a72d02000200-160-160.jpg', width='100', height='100', title='100', alt='100')
                .js-family-info.family-info.family-info-s
                  h3.family-student-nick &#23398;&#20064;&#20154;&#29983;
                  p.family-info-job &#20854;&#23427;
                  .family-info-foot
                    span
                      | &#23398;&#20064;
                      em 563&#23567;&#26102;57&#20998;
                    span
                      | &#25253;&#21517;
                      em 86&#38376;&#35838;&#31243;
              li.js-family-item.family-sub-item
                a.family-avator(href='/space/u/uid/165429')
                  .family-mask
                  img(src='http://img.mukewang.com/user/533e4c700001c60f02200220-160-160.jpg', width='100', height='100', title='100', alt='100')
                .js-family-info.family-info.family-info-s
                  h3.family-student-nick &#21517;&#23567;&#40517;
                  p.family-info-job &#36719;&#20214;&#27979;&#35797;&#24037;&#31243;&#24072;
                  .family-info-foot
                    span
                      | &#23398;&#20064;
                      em 521&#23567;&#26102;12&#20998;
                    span
                      | &#25253;&#21517;
                      em 41&#38376;&#35838;&#31243;
              li.js-family-item.family-sub-item
                a.family-avator(href='/space/u/uid/220512')
                  .family-mask
                  img(src='http://img.mukewang.com/user/53b7be310001796301800180-160-160.jpg', width='100', height='100', title='100', alt='100')
                .js-family-info.family-info.family-info-s
                  h3.family-student-nick Raymond&#23567;&#25991;
                  p.family-info-job Web&#21069;&#31471;&#24037;&#31243;&#24072;
                  .family-info-foot
                    span
                      | &#23398;&#20064;
                      em 465&#23567;&#26102;12&#20998;
                    span
                      | &#25253;&#21517;
                      em 86&#38376;&#35838;&#31243;
          li.js-family-item.family-item.family-teacher.l
            a.family-avator(href='/space/teacher/id/108955')
              .family-mask
              img(src='http://img.mukewang.com/5347593e00010cfb01400140-200-200.jpg', width='200', height='200')
            .js-family-info.family-info.family-info-t
              h3.family-teacher-nick liuyubobobo
              p.family-info-job
              p.family-info-desc
                | &#21019;&#19994;&#32773;&#65292;&#20840;&#26632;&#24037;&#31243;&#24072;&#65292;&#25345;&#32493;&#23398;&#20064;&#32773;&#12290;&#23545;&#25216;&#26415;&#24320;&#21457;&#65292;&#20135;&#21697;&#35774;&#35745;&#12289;&#21069;&#21518;&#31471;&#65292;ios&#65292;html5&#65292;&#26234;&#33021;&#31639;&#27861;&#31561;&#39046;&#22495;&#22343;&#26377;&#25509;&#35302;&#65307;&#25317;&#26377;&#22810;&#27454;&#29420;&#31435;App&#20316;&#21697;&#65307;&#23545;&#19968;&#20999;&#21487;&#32534;&#31243;&#30340;&#19996;&#35199;&#26377;&#27987;&#21402;&#20852;&#36259;&#65292;&#23545;&#28216;&#25103;&#32534;&#31243;&#26684;&#22806;&#24863;&#20852;&#36259;&#12290;&#30456;&#20449;&#32534;&#31243;&#25913;&#21464;&#19968;&#20999;&#12290;
          li.family-item.family-student.l
            ul.clearfix
              li.js-family-item.family-sub-item
                a.family-avator(href='/space/u/uid/128142')
                  .family-mask
                  img(src='http://img.mukewang.com/user/533e4d2600013fe202000200-160-160.jpg', width='100', height='100', title='100', alt='100')
                .js-family-info.family-info.family-info-s
                  h3.family-student-nick fiona
                  p.family-info-job &#20854;&#23427;
                  .family-info-foot
                    span
                      | &#23398;&#20064;
                      em 456&#23567;&#26102;58&#20998;
                    span
                      | &#25253;&#21517;
                      em 86&#38376;&#35838;&#31243;
              li.js-family-item.family-sub-item
                a.family-avator(href='/space/u/uid/175601')
                  .family-mask
                  img(src='http://img.mukewang.com/user/53921dfd0001265601800180-160-160.jpg', width='100', height='100', title='100', alt='100')
                .js-family-info.family-info.family-info-s
                  h3.family-student-nick &#33258;&#30001;&#20992;&#21073;&#22914;&#26790;
                  p.family-info-job
                  .family-info-foot
                    span
                      | &#23398;&#20064;
                      em 441&#23567;&#26102;49&#20998;
                    span
                      | &#25253;&#21517;
                      em 52&#38376;&#35838;&#31243;
              li.js-family-item.family-sub-item
                a.family-avator(href='/space/u/uid/111574')
                  .family-mask
                  img(src='http://img.mukewang.com/user/535d9b1f0001169404800640-160-160.jpg', width='100', height='100', title='100', alt='100')
                .js-family-info.family-info.family-info-s
                  h3.family-student-nick Cynthia
                  p.family-info-job UI&#35774;&#35745;&#24072;
                  .family-info-foot
                    span
                      | &#23398;&#20064;
                      em 421&#23567;&#26102;54&#20998;
                    span
                      | &#25253;&#21517;
                      em 65&#38376;&#35838;&#31243;
              li.js-family-item.family-sub-item
                a.family-avator(href='/space/u/uid/217463')
                  .family-mask
                  img(src='http://img.mukewang.com/user/53b528fd0001fdee01000100-160-160.jpg', width='100', height='100', title='100', alt='100')
                .js-family-info.family-info.family-info-s
                  h3.family-student-nick &#27815;&#28023;&#19968;&#22768;&#31505;
                  p.family-info-job
                  .family-info-foot
                    span
                      | &#23398;&#20064;
                      em 419&#23567;&#26102;45&#20998;
                    span
                      | &#25253;&#21517;
                      em 39&#38376;&#35838;&#31243;
          li.js-family-item.family-item.family-teacher.l
            a.family-avator(href='/space/teacher/id/100329')
              .family-mask
              img(src='http://img.mukewang.com/528abd50000195b120422848-200-200.jpg', width='200', height='200')
            .js-family-info.family-info.family-info-t.family-info-right
              h3.family-teacher-nick vivian
              p.family-info-job Web&#21069;&#31471;&#24037;&#31243;&#24072;
              p.family-info-desc Web&#21069;&#31471;&#25915;&#22478;&#24072;  &#20856;&#22411;&#40657;&#26694;&#30524;&#38236;&#33804;&#22969;&#32440; &#21476;&#20856;&#32654;&#22899; &#39118;&#36259;&#24189;&#40664; &#36816;&#21160;&#29233;&#22909;&#32773; &#23454;&#36341;&#19982;&#25945;&#23398;&#26377;&#26426;&#34701;&#21512; &#20852;&#36259;&#21644;&#30740;&#31350;&#26041;&#21521;&#26159;&#21069;&#31471;&#25216;&#26415;&#19982;&#20132;&#20114;&#35774;&#35745;&#30340;&#32467;&#21512;
          li.family-item.family-student.l
            ul.clearfix
              li.js-family-item.family-sub-item
                a.family-avator(href='/space/u/uid/125844')
                  .family-mask
                  img(src='http://img.mukewang.com/user/5379bf290001590c01800180-160-160.jpg', width='100', height='100', title='100', alt='100')
                .js-family-info.family-info.family-info-s.family-info-right
                  h3.family-student-nick O&UnderBar;Duok
                  p.family-info-job Web&#21069;&#31471;&#24037;&#31243;&#24072;
                  .family-info-foot
                    span
                      | &#23398;&#20064;
                      em 378&#23567;&#26102;58&#20998;
                    span
                      | &#25253;&#21517;
                      em 3&#38376;&#35838;&#31243;
              li.js-family-item.family-sub-item
                a.family-avator(href='/space/u/uid/175534')
                  .family-mask
                  img(src='http://img.mukewang.com/user/5391fa45000138ad01800180-160-160.jpg', width='100', height='100', title='100', alt='100')
                .js-family-info.family-info.family-info-s.family-info-right
                  h3.family-student-nick JoeMartini
                  p.family-info-job &#20135;&#21697;&#32463;&#29702;
                  .family-info-foot
                    span
                      | &#23398;&#20064;
                      em 367&#23567;&#26102;22&#20998;
                    span
                      | &#25253;&#21517;
                      em 12&#38376;&#35838;&#31243;
              li.js-family-item.family-sub-item
                a.family-avator(href='/space/u/uid/116332')
                  .family-mask
                  img(src='http://img.mukewang.com/user/53702d6500016bc801800180-160-160.jpg', width='100', height='100', title='100', alt='100')
                .js-family-info.family-info.family-info-s.family-info-right
                  h3.family-student-nick &#19977;&#26376;&#21322;&#32418;&#28903;&#32905;
                  p.family-info-job Web&#21069;&#31471;&#24037;&#31243;&#24072;
                  .family-info-foot
                    span
                      | &#23398;&#20064;
                      em 281&#23567;&#26102;11&#20998;
                    span
                      | &#25253;&#21517;
                      em 30&#38376;&#35838;&#31243;
              li.js-family-item.family-sub-item
                a.family-avator(href='/space/u/uid/211472')
                  .family-mask
                  img(src='http://img.mukewang.com/user/53b171790001a30601000100-160-160.jpg', width='100', height='100', title='100', alt='100')
                .js-family-info.family-info.family-info-s.family-info-right
                  h3.family-student-nick &#28120;&#26007;&#22763;
                  p.family-info-job &#20135;&#21697;&#32463;&#29702;
                  .family-info-foot
                    span
                      | &#23398;&#20064;
                      em 274&#23567;&#26102;35&#20998;
                    span
                      | &#25253;&#21517;
                      em 21&#38376;&#35838;&#31243;
          li.family-item.family-student.l
            ul.clearfix
              li.js-family-item.family-sub-item
                a.family-avator(href='/space/u/uid/103118')
                  .family-mask
                  img(src='http://img.mukewang.com/user/53dc49530001ab8005110800-160-160.jpg', width='100', height='100', title='100', alt='100')
                .js-family-info.family-info.family-info-s
                  h3.family-student-nick MistyMoon
                  p.family-info-job Web&#21069;&#31471;&#24037;&#31243;&#24072;
                  .family-info-foot
                    span
                      | &#23398;&#20064;
                      em 256&#23567;&#26102;44&#20998;
                    span
                      | &#25253;&#21517;
                      em 90&#38376;&#35838;&#31243;
              li.js-family-item.family-sub-item
                a.family-avator(href='/space/u/uid/232634')
                  .family-mask
                  img(src='http://img.mukewang.com/user/53c4f0d000010cad01800180-160-160.jpg', width='100', height='100', title='100', alt='100')
                .js-family-info.family-info.family-info-s
                  h3.family-student-nick &#21507;&#21253;&#23376;&#38271;&#22823;&#20010;
                  p.family-info-job
                  .family-info-foot
                    span
                      | &#23398;&#20064;
                      em 255&#23567;&#26102;40&#20998;
                    span
                      | &#25253;&#21517;
                      em 2&#38376;&#35838;&#31243;
              li.js-family-item.family-sub-item
                a.family-avator(href='/space/u/uid/205587')
                  .family-mask
                  img(src='http://img.mukewang.com/user/53ab9de30001a66905600560-160-160.jpg', width='100', height='100', title='100', alt='100')
                .js-family-info.family-info.family-info-s
                  h3.family-student-nick &#37240;&#22902;&#27801;&#20912;
                  p.family-info-job Web&#21069;&#31471;&#24037;&#31243;&#24072;
                  .family-info-foot
                    span
                      | &#23398;&#20064;
                      em 242&#23567;&#26102;40&#20998;
                    span
                      | &#25253;&#21517;
                      em 84&#38376;&#35838;&#31243;
              li.js-family-item.family-sub-item
                a.family-avator(href='/space/u/uid/239230')
                  .family-mask
                  img(src='http://img.mukewang.com/user/5454fb0b00016d1401800180-160-160.jpg', width='100', height='100', title='100', alt='100')
                .js-family-info.family-info.family-info-s
                  h3.family-student-nick MicLee
                  p.family-info-job JAVA&#24320;&#21457;&#24037;&#31243;&#24072;
                  .family-info-foot
                    span
                      | &#23398;&#20064;
                      em 228&#23567;&#26102;13&#20998;
                    span
                      | &#25253;&#21517;
                      em 8&#38376;&#35838;&#31243;
          li.js-family-item.family-item.family-teacher.l
            a.family-avator(href='/space/teacher/id/101768')
              .family-mask
              img(src='http://img.mukewang.com/52e0ebbc000130fb16041604-200-200.jpg', width='200', height='200')
            .js-family-info.family-info.family-info-t
              h3.family-teacher-nick &#22823;&#22478;&#23567;&#32982;
              p.family-info-job Web&#21069;&#31471;&#24037;&#31243;&#24072;
              p.family-info-desc
                | &#33804;&#31995;&#25915;&#22478;&#24072;&#65292;
                | &#22269;&#20869;&#30693;&#21517;&#30340;&#21069;&#31471;&#21644;Java&#24037;&#31243;&#24072;&#12289;&#33879;&#21517;HTML5&#19987;&#23478;&#12289;&#29420;&#31435;&#28216;&#25103;&#24320;&#21457;&#32773;&#65292;
                | 9&#24180;IT&#20174;&#19994;&#32463;&#39564;&#12290;
                | &#20027;&#35201;&#20174;&#20107;&#20197;HTML5&#20026;&#20195;&#34920;&#30340;Web&#25216;&#26415;&#30340;&#30740;&#31350;&#21644;&#30456;&#20851;&#20135;&#21697;&#30340;&#30740;&#21457;&#12290; &#22810;&#27425;&#22312;&#21508;&#22823;&#34892;&#19994;&#20250;&#35758;&#36827;&#34892;&#20998;&period;&period;&period;
          li.family-item.family-student.l
            ul.clearfix
              li.js-family-item.family-sub-item
                a.family-avator(href='/space/u/uid/235374')
                  .family-mask
                  img(src='http://img.mukewang.com/user/53c7d2a00001e09801000100-160-160.jpg', width='100', height='100', title='100', alt='100')
                .js-family-info.family-info.family-info-s
                  h3.family-student-nick &#23453;&#36125;&#25105;&#19968;&#30452;&#22312;
                  p.family-info-job Linux&#31995;&#32479;&#24037;&#31243;&#24072;
                  .family-info-foot
                    span
                      | &#23398;&#20064;
                      em 213&#23567;&#26102;55&#20998;
                    span
                      | &#25253;&#21517;
                      em 40&#38376;&#35838;&#31243;
              li.js-family-item.family-sub-item
                a.family-avator(href='/space/u/uid/228312')
                  .family-mask
                  img(src='http://img.mukewang.com/user/53bfa06300018f0901800180-160-160.jpg', width='100', height='100', title='100', alt='100')
                .js-family-info.family-info.family-info-s
                  h3.family-student-nick JasonHsu
                  p.family-info-job &#31227;&#21160;&#24320;&#21457;&#24037;&#31243;&#24072;
                  .family-info-foot
                    span
                      | &#23398;&#20064;
                      em 180&#23567;&#26102; 5&#20998;
                    span
                      | &#25253;&#21517;
                      em 6&#38376;&#35838;&#31243;
              li.js-family-item.family-sub-item
                a.family-avator(href='/space/u/uid/113818')
                  .family-mask
                  img(src='http://img.mukewang.com/user/5365e348000133ca01000100-160-160.jpg', width='100', height='100', title='100', alt='100')
                .js-family-info.family-info.family-info-s
                  h3.family-student-nick lhchen
                  p.family-info-job &#36719;&#20214;&#27979;&#35797;&#24037;&#31243;&#24072;
                  .family-info-foot
                    span
                      | &#23398;&#20064;
                      em 169&#23567;&#26102;36&#20998;
                    span
                      | &#25253;&#21517;
                      em 36&#38376;&#35838;&#31243;
              li.js-family-item.family-sub-item
                a.family-avator(href='/space/u/uid/132969')
                  .family-mask
                  img(src='http://img.mukewang.com/user/537d84630001aad801800180-160-160.jpg', width='100', height='100', title='100', alt='100')
                .js-family-info.family-info.family-info-s
                  h3.family-student-nick ivywooo
                  p.family-info-job &#20854;&#23427;
                  .family-info-foot
                    span
                      | &#23398;&#20064;
                      em 168&#23567;&#26102;42&#20998;
                    span
                      | &#25253;&#21517;
                      em 2&#38376;&#35838;&#31243;
          li.js-family-item.family-item.family-teacher.l
            a.family-avator(href='/space/teacher/id/114726')
              .family-mask
              img(src='http://img.mukewang.com/536ae53e00011c5001400140-200-200.jpg', width='200', height='200')
            .js-family-info.family-info.family-info-t
              h3.family-teacher-nick &#38463;&#24403;
              p.family-info-job &#20854;&#23427;
              p.family-info-desc
                | &#36164;&#28145;WEB&#25216;&#26415;&#19987;&#23478;&#65292;&#24517;&#26432;&#25216;&OpenCurlyDoubleQuote;&#21069;&#31471;&#24320;&#21457;&#12289;&#36719;&#20214;&#26550;&#26500;&#21644;&#25935;&#25463;&#24320;&#21457;&rdquor;&#12290;&#20808;&#21518;&#20219;&#32844;&#20110;&#38597;&#34382;&#12289;&#28120;&#23453;&#12289;&#26032;&#28010;&#20225;&#19994;&#12290;&#22312;&OpenCurlyDoubleQuote;&#22914;&#20309;&#32534;&#20889;&#39640;&#36136;&#37327;&#20195;&#30721;&rdquor;&#39046;&#22495;&#30740;&#31350;&#39047;&#28145;&#65292;&#33879;&#20316;&#12298;&#32534;&#20889;&#39640;&#36136;&#37327;&#20195;&#30721;&mdash;&mdash;web&#21069;&#31471;&#24320;&#21457;&#20462;&#28860;&#20043;&#36947;&#12299;&#30340;&#32532;&#36896;&#32773;&#12290;
          li.family-item.family-student.l
            ul.clearfix
              li.js-family-item.family-sub-item
                a.family-avator(href='/space/u/uid/141238')
                  .family-mask
                  img(src='http://img.mukewang.com/user/538559240001ee1501000100-160-160.jpg', width='100', height='100', title='100', alt='100')
                .js-family-info.family-info.family-info-s
                  h3.family-student-nick sticky&UnderBar;rice
                  p.family-info-job Web&#21069;&#31471;&#24037;&#31243;&#24072;
                  .family-info-foot
                    span
                      | &#23398;&#20064;
                      em 164&#23567;&#26102; 3&#20998;
                    span
                      | &#25253;&#21517;
                      em 30&#38376;&#35838;&#31243;
              li.js-family-item.family-sub-item
                a.family-avator(href='/space/u/uid/105119')
                  .family-mask
                  img(src='http://img.mukewang.com/user/5329c3720001985b01350123-160-160.jpg', width='100', height='100', title='100', alt='100')
                .js-family-info.family-info.family-info-s
                  h3.family-student-nick &#36870;&#22825;&#30340;&#26408;&#26408;
                  p.family-info-job &#20854;&#23427;
                  .family-info-foot
                    span
                      | &#23398;&#20064;
                      em 143&#23567;&#26102;39&#20998;
                    span
                      | &#25253;&#21517;
                      em 36&#38376;&#35838;&#31243;
              li.js-family-item.family-sub-item
                a.family-avator(href='/space/u/uid/236445')
                  .family-mask
                  img(src='http://img.mukewang.com/user/53c903e30001614101000100-160-160.jpg', width='100', height='100', title='100', alt='100')
                .js-family-info.family-info.family-info-s
                  h3.family-student-nick &#34569;&#34659;&#12398;&#27468;
                  p.family-info-job
                  .family-info-foot
                    span
                      | &#23398;&#20064;
                      em 26&#23567;&#26102;36&#20998;
                    span
                      | &#25253;&#21517;
                      em 1&#38376;&#35838;&#31243;
              li.js-family-item.family-sub-item
                a.family-avator(href='/space/u/uid/222735')
                  .family-mask
                  img(src='http://img.mukewang.com/user/53ba068500013ff501000100-160-160.jpg', width='100', height='100', title='100', alt='100')
                .js-family-info.family-info.family-info-s
                  h3.family-student-nick &#34013;&#39068;&#38597;&#27901;
                  p.family-info-job Web&#21069;&#31471;&#24037;&#31243;&#24072;
                  .family-info-foot
                    span
                      | &#23398;&#20064;
                      em 16&#23567;&#26102;36&#20998;
                    span
                      | &#25253;&#21517;
                      em 3&#38376;&#35838;&#31243;
          li.js-family-item.family-item.family-teacher.l
            a.family-avator(href='/space/teacher/id/104472')
              .family-mask
              img(src='http://img.mukewang.com/53201ffa000197cd06510669-200-200.jpg', width='200', height='200')
            .js-family-info.family-info.family-info-t.family-info-right
              h3.family-teacher-nick Jason
              p.family-info-job PHP&#24320;&#21457;&#24037;&#31243;&#24072;
              p.family-info-desc
                | 9&#24180;PHP&#24037;&#20316;&#32463;&#39564;  &#32769;&#40479;  &#26366;&#23601;&#32844;&#20110;&#26576;&#22823;&#22411;&#20114;&#32852;&#32593;&#20844;&#21496;  PHP&#24544;&#23454;&#36861;&#38543;&#32773;
      #js-family-mask.family-big-mask
      #js-family-text.family-text.hide-text &#24917;&#35838;&#22823;&#23478;&#24237;
    .mobile.idx-minwidth
      .mobile-wrap.idx-width
        h1.mobile-title.hide-text &#25163;&#26426;&#24917;&#35838;&#65292;&#38543;&#26102;&#38543;&#22320;&#23398;&#20064;&#65281;
        .mobile-entry
          a(href='http://www.imooc.com/mobile/mukewang.apk', target='_blank') Android&#29256;
          a(href='https://itunes.apple.com/cn/app/mu-ke-wang/id722179140?mt=8', target='_blank') IOS&#29256;
          span#js-mobile-trigger.mobile-trigger
        #js-mobile-bg-wrap.mobile-bg-wrap
          .mobile-bg2
          .mobile-bg3
    .joinmooc.bg-grey.idx-minwidth
      .joinmooc-wrap.idx-width
        h1.hide-text &#24917;&#35838;&#32593;&#65292;&#21482;&#23398;&#26377;&#29992;&#30340;&#65281;
        .joinbtn
          a.hide-text(href='/course/list')
            | &#31435;&#21363;&#21152;&#20837;
    .footer.bg-white.idx-minwidth
      .footer-wrap.idx-width
        .footer-sns
          a.footer-sns-weibo.hide-text(href='http://weibo.com/u/3306361973', target='_blank', title='新浪微博') &#26032;&#28010;&#24494;&#21338;
          a.footer-sns-weixin(href='javascript:void(0);', target='_blank', title='微信')
            i.footer-sns-weixin-expand
          a.footer-sns-qqweibo.hide-text(href='http://t.qq.com/mukewang999', target='_blank', title='腾讯微博') &#33150;&#35759;&#24494;&#21338;
          a.footer-sns-qzone.hide-text(href='http://user.qzone.qq.com/1059809142/', target='_blank', title='QQ空间') QQ&#31354;&#38388;
      .footer-link
        a(href='/about/us', title='关于我们') &#20851;&#20110;&#25105;&#20204;
        a(href='/about/job', title='人才招聘') &#20154;&#25165;&#25307;&#32856;
        a(href='/about/recruit', title='讲师招募') &#35762;&#24072;&#25307;&#21215;
        a(href='/about/contact', title='联系我们') &#32852;&#31995;&#25105;&#20204;
        a(href='/user/feedback', title='意见反馈') &#24847;&#35265;&#21453;&#39304;
        a(href='/about/friendly', title='友情链接') &#21451;&#24773;&#38142;&#25509;
      .footer-copyright
        | &copy; 2013 imooc&period;com  &#20140;ICP&#22791;13046642&#21495;
    #main
    // script
    script(type='text/javascript', src='/static/sea-modules/seajs/seajs/2.1.1/sea.js')
    script(type='text/javascript', src='/static/sea_config.js?201404210442?201411071845')
    script(type='text/javascript')
      seajs.use("/static/page/"+OP_CONFIG.module+"/"+OP_CONFIG.page);
    div(style='display: none')
      script(type='text/javascript')
        seajs.use("jquery",function(){
        var r=document.referrer||"",
        l=document.URL||window.location.href,
        t=60*1000;
        function foo(){
        $.post("/visitlog/u",{"url":l,"from_url":r});
        }
        foo();
        setInterval(foo,t)
        })
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ff0cfcccd7b1393990c78efdeebff3968' type='text/javascript'%3E%3C/script%3E"));
        (function (d) {
        window.bd_cpro_rtid="rHT4P1c";
        var s = d.createElement("script");s.type = "text/javascript";s.async = true;s.src = location.protocol + "//cpro.baidu.com/cpro/ui/rt.js";
        var s0 = d.getElementsByTagName("script")[0];s0.parentNode.insertBefore(s, s0);
        })(document);
